#main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;

}

.book-container{
    
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(235, 249, 222);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.img-container{
    min-height: 320px;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.btn{
    background-color: blueviolet;
    border-radius: 16px;
    padding: 4px;
    border: 1px solid gray;
    
}